// Font Family
$poppins: 'Poppins', sans-serif;
$rufina: 'Rufina', serif;

// Colors ---------------
$white: #ffffff;
$black: #2c303e;
$grey:#f5f8fa;
$theme-color: #00c867;
$body-text-color: #7b8491;
$hr-border-color:#f7f8ff;
$border:#e5e9ff;


// Heading Color
$heading-color: #1c3354;

// Soft color
$black-soft:#7e7e7e;


// Responsive Variables
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';

